<ion-header>
    <ion-toolbar class="header-content">
      <button (tap)="back()" ion-button start style="color: #454F63">
        Cancel
      </button>
    </ion-toolbar>
</ion-header>
<ion-content class="my-orders">
  <h2 class="page-title">Reset password</h2><br>
  <form [formGroup]="restPasswordForm">
    <ion-item>
        <ion-label floating>
          E-mail
          <span class="required" >*</span>
        </ion-label>
        <ion-input  [(ngModel)]="password.email" formControlName="email" >
        </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="restPasswordForm.get('email').hasError(validation.type) && (restPasswordForm.get('email').dirty || restPasswordForm.get('email').touched)">
              {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label floating>
        New password
        <span class="required" >*</span>
      </ion-label>
      <ion-input  [(ngModel)]="password.newPassword" type="password" formControlName="newPassword" >
      </ion-input>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.newPassword">
          <div class="error-message" *ngIf="restPasswordForm.get('newPassword').hasError(validation.type) && (restPasswordForm.get('newPassword').dirty || restPasswordForm.get('newPassword').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    <ion-item>
      <ion-label floating >
       confirm  New password
       <span class="required" >*</span>
      </ion-label>
      <ion-input [(ngModel)]="password.confirmNewPassword" type="password" formControlName="confirmNewPassword">
      </ion-input>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirmNewPassword">
          <div class="error-message" *ngIf="restPasswordForm.get('confirmNewPassword').hasError(validation.type) && (restPasswordForm.get('confirmNewPassword').dirty || restPasswordForm.get('confirmNewPassword').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="validation-errors" >
          <div class="error-message" *ngIf="restPasswordForm.get('confirmNewPassword').touched && restPasswordForm.hasError('mismatchedPasswords') && restPasswordForm.get('newPassword').valid" >
              {{"Mismatch password" | translate}}
          </div>
      </div>
    <ion-item>
      <button  class="btn btn-outline-primary" ion-button round outline (tap)="ResetPassword()" [disabled]="!restPasswordForm.valid">
          Reset
      </button>
    </ion-item>
  </form>
  <ion-row [hidden]="dataAvilable" align-items-center justify-content-center class="preloader">
      <img src="assets/imgs/preloader.gif">
    </ion-row>
  </ion-content>